{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css?v8' : '.css?v8' %}
{% use 'blocks/base.html.twig' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head deferred %}
    <meta charset="utf-8" />
    <title>{% if page.title and page.title != '-' %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}
    <meta property="og:title" content="{% if page.title and page.title != '-' %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}">
    <meta property="og:image" content="https://obyte.org{{ url('theme://assets/phone-shadow.png') }}">
    <meta property="og:url" content="https://obyte.org{{ page.url(false, true) }}">

    <meta name="twitter:image" content="https://obyte.org{{ url('theme://assets/phone-twitter.png') }}"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ObyteOrg">
    <meta name="twitter:title" content="{% if page.title and page.title != '-' %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}">
  
    <link rel="canonical" href="https://obyte.org{{ page.url(false, true) }}" />
    <link rel="shortcut icon" href="{{ url('theme://images/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url('theme://images/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url('theme://images/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url('theme://images/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url('theme://images/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url('theme://images/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url('theme://images/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url('theme://images/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url('theme://images/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://images/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url('theme://images/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url('theme://images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url('theme://images/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('theme://images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url('theme://images/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url('theme://images/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
        "@type": "Question",
        "name": "Is Obyte an ERC-20 token?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "No, Obyte is a novel platform with its own DAG-based structure, consensus mechanism and eco system."
        }
    },{
        "@type": "Question",
        "name": "Are Order Providers (witnesses) centralized gatekeepers?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "No, they just post transactions to the DAG regularly to make it possible for all full nodes to establish perfect order of transactions, they can't stop anybody from transacting."
        }
    },{
        "@type": "Question",
        "name": "Where can I get the Obyte Wallet?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "The official Obyte wallet is available for Windows, Mac, Linux, Android and iOS. For mobile versions, download them from App Store or Play Store - always make sure to check that the publisher is \"Matrix Platform LLC\" or \"Obyte Foundation\" (formerly called \"Byteball Foundation\")."
        }
    },{
        "@type": "Question",
        "name": "Where can I read more about Obyte?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "The best way is to start on the official website which you are already doing. Here, you will find links to various other sources about specific topics."
        }
    },{
        "@type": "Question",
        "name": "Is there a transaction fee on Obyte?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "Yes, every transaction must pay a small fee to send transactions to the DAG. The amount of Bytes in transaction fee is determined by the size of your transaction. For example, if your transaction's data consumes 800 bytes of disk space, the fee to submit that transaction to the DAG will be 800 Bytes of the currency. This allows for low, predictable fees.

    A typical payment transaction takes about 800 bytes, which is about $0.00001 at the current rate."
        }
    },{
        "@type": "Question",
        "name": "There are so many things and buttons in the wallet, do you have a guide for the wallet?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "For things that are not self-explanatory, there are plenty of articles, examples and even videos explaining how to use the wallet. Simply search for them using your favorite search engine or check out Obyte Tutorials."
        }
    },{
        "@type": "Question",
        "name": "What is blackbytes?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "Blackbytes a privacy currency on Obyte. Blackbytes cannot be traded on centralized exchanges and can only be sent directly from one user to another. In the wallet's Bot Store, you can find chat bots that provides simple order books allowing users to find others to trade with. Keep in mind, that by using the chat bot, a small part of the privacy of course is lost as the bot operator will be able to see which addresses are used to send blackbytes. Read more about Blackbytes."
        }
    },{
        "@type": "Question",
        "name": "Who built Obyte?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "Obyte was founded and developed by Anton Churyumov. He still actively develops the project together with other developers that have joined over the years."
        }
    },{
        "@type": "Question",
        "name": "When was Obyte launched?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "Mainnet was launched on December 25th 2016."
        }
    },{
        "@type": "Question",
        "name": "What's the difference between Obyte, GBYTE, and Byte?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "Obyte is the platform that hosts all this.

    Byte is the native currency of the platform, it is used to pay for fees. It is also the most popular and the most widely distributed asset on the platform (there are many others, see Tokens).

    GBYTE is the currency unit of Bytes that is traded on exchanges, 1 GBYTE is 1 billion Bytes. While Byte is the smallest indivisible currency unit, GBYTE is more convenient for expressing the most common amounts, and amounts in GBYTE are fractional numbers with up to 9 decimal places. Byte to GBYTE is what cent is to dollar, or satoshi to Bitcoin. GBYTE is sometimes abbreviated as GB. Some apps use MBYTE (or MB) which is 1 million Bytes. We use other SI prefixes as well: KBYTE (KB) for 1000 bytes, TB for terabyte (1 trillion Bytes)."
        }
    },{
        "@type": "Question",
        "name": "Are there any open positions with Obyte?",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "See careers. Even if your desired position is not listed, feel free to reach out — when the right person shows up, there will always be room for more brilliant minds."
        }
    }]
    }
    </script>

{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
    {% if theme_var('spectre.exp') %}{% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}{% endif %}
    {% if theme_var('spectre.icons') %}{%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}{% endif %}
    {% do assets.addCss('theme://css-compiled/theme'~compress) %}
    {#% do assets.addCss('theme://css/custom.css') %#}
    {% do assets.addCss('theme://css/line-awesome.min.css') %}
    {% do assets.addCss('theme://css/swiper.min.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/site.js?v3', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/swiper.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/textcoin.js', {group:'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}


<!-- MailerLite Universal 
<script>
(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

var ml_account = ml('accounts', '1115900', 'a6k5q0g6f3', 'load');
</script>
 End MailerLite Universal -->


</head>
<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    {% include 'partials/textcoin.html.twig' %}
    <div id="page-wrapper">
    {% block header %}
        <section id="header" class="section">
            <section class="container {{ grid_size }}">
                <nav class="navbar flex-centered">
                    <section class="navbar-section logo">
                        {% include 'partials/logo.html.twig' %}
                    </section>
                    <section class="navbar-section desktop-menu">
                        <div class="d-flex flex-centered">
                            <nav class="dropmenu animated">
                                {% block header_navigation %}
                                    {% include 'partials/navigation.html.twig' %}
                                {% endblock %}
                            </nav>
                            {% include 'partials/lang-prefix.html.twig' %}
                            <a href="/#download" class="btn btn-default">Download wallet</a>
                        </div>

                        {% if config.plugins.login.enabled and grav.user.username %}
                            <span class="login-status-wrapper"><i class="fa fa-user"></i> {% include 'partials/login-status.html.twig' %}</span>
                        {% endif %}
                    </section>
                </nav>
            </section>
        </section>
        <div class="mobile-menu">
            <div class="button_container" id="toggle">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
        </div>
    {% endblock %}

    {% block hero %}{% endblock %}
        <section id="start">
        {% block body %}
            <section class="section">
                <section class="container {{ grid_size }}">
                    {% block messages %}
                        {% include 'partials/messages.html.twig' ignore missing %}
                    {% endblock %}
                    {{ block('content_surround') }}
                </section>
            </section>
        {% endblock %}
        </section>

    </div>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block mobile %}
    <div class="mobile-container">
        <div class="overlay" id="overlay">
            <div class="mobile-logo">
                {% include 'partials/logo.html.twig' with {mobile: true} %}
            </div>
            <div class="overlay-menu-wrap">
                <nav class="overlay-menu">
                    {% include 'partials/navigation.html.twig' with {tree: true} %}
                </nav>
                <div class="d-flex flex-column align-items-center">
                    <a href="/#download" class="btn btn-default">Download wallet</a>

                    <ul class="other-menu">
                        <li><a href="https://blog.obyte.org" target="_blank" rel="noopener">Blog</a></li>
                        <li><a href="https://github.com/byteball" target="_blank" rel="noopener">GitHub</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                    <!--
                    <div class="lang-block mobile-lang">
                        <a href="#" class="current-lang">EN</a>
                    </div>
                    -->
                    <div class="copyright-block">
                        <div class="text">© {{ 'now' | date('Y') }} Obyte. All Rights Reserved</div>
                    </div>
                </div>
            </div>
            <div class="lang-options-wrap d-none">
                <a href="#" class="back">Back</a>
                <ul class="lang-list">
                    <li><a href="#" class="active">English</a></li>
                    <li><a href="#">العربية</a></li>
                    <li><a href="#">Dansk</a></li>
                    <li><a href="#">Deutsch</a></li>
                    <li><a href="#">Ελληνικά</a></li>
                    <li><a href="#">Español</a></li>
                    <li><a href="#">Русский</a></li>
                    <li><a href="#">Français</a></li>
                    <li><a href="#">Indonesia</a></li>
                    <li><a href="#">Italiano</a></li>
                    <li><a href="#">日本語</a></li>
                    <li><a href="#">한국어</a></li>
                    <li><a href="#">Nederlands</a></li>
                    <li><a href="#">中文</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
